# macOS
.DS_Store

# Python Environments
ragvenv/


# Python Cache & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Vector Databases (Crucial: Prevents massive uploads)
chroma_db/


# Environment Variables & Secrets
.env
.env.local

# IDEs and Editors
.vscode/
.idea/